body{
    background-color: hsl(0, 0%, 20%);
    margin: 0px;
    text-align: center;
}
h1{
    color:white;
    text-align: center;
    background-color: hsl(0, 0%, 15%);
    font-size: 4rem;
}
button{
    margin:4px;
    min-width: 125px;
    min-height: 125px;
    border-radius: 10px;
    background-color: rgb(169, 24, 167);
    font-size: 5rem;
    color:white;
    border:none;
    cursor:pointer;
    box-shadow: 3px 3px 3px hsl(0, 100%, 40%),-3px -3px 3px hsl(240, 100%, 40%);
}
#result{
    color:white;
    font-size: 4rem;
}