body{
    background-color: hsl(0, 0%, 20%);
    margin: 0px;
    text-align: center;
    display:flex;
    flex-direction: column;
}
h1{
    color:white;
    text-align: center;
    background-color: hsl(0, 0%, 15%);
    font-size: 4rem;
}
button{
    margin:4px;
    min-width: 115px;
    min-height: 115px;
    border-radius: 10px;
    background-color: rgb(169, 24, 167);
    font-size: 5rem;
    color:white;
    border:none;
    cursor:pointer;
    font-weight: bold;
    font-family: Arial, sans-serif;
    box-shadow: 3px 3px 3px hsl(0, 100%, 40%),-3px -3px 3px hsl(240, 100%, 40%);
    
}
.top{
    display:flex;
    justify-content: center;
}
.middle{
    display:flex;
    justify-content: center;
}
.bottom{
    display:flex;
    justify-content: center;
}

button:hover{
    animation: z 1s ease-in-out infinite;
}
#result{
    color:white;
    font-size: 4rem;
}
@keyframes z{
    0%{
        box-shadow: 3px 3px 3px hsl(0, 100%, 40%),-3px -3px 3px hsl(240, 100%, 40%);
    }
    50%{
        box-shadow: 3px 3px 3px hsl(240, 100%, 40%),-3px -3px 3px hsl(0, 100%, 40%);
    }
    100%{
        box-shadow: 3px 3px 3px hsl(0, 100%, 40%),-3px -3px 3px hsl(240, 100%, 40%);
    }
}
